apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: yotta-web
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - {{ .Values.ingress.host }}
    secretName: yotta-tls
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: yotta-web
            port:
              number: {{ .Values.service.port }}
